* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: yellow;
  font-family: "Inter", sans-serif;
}
.nba-bg {
  border-radius: 10px;
}
.nba-bg {
  width: 100%;
}
.nba {
  background-image: url(./assets/nba-bg.jpg);
  /* height: 1000px; */
  border-radius: 10px;
  padding: 1rem;
  min-height: 100vh;
}
.card-container {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
}
.player-img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}
.player-img:hover {
  transform: scale(90%);
}
h5 {
  padding: 10px;
}
.statistick {
  background-color: orange;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .statistics {
  display: flex;
  flex-direction: column;
} */
