* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: yellow;
  font-family: "Inter", sans-serif;
}
.nba-bg {
  border-radius: 10px;
}
.nba-bg {
  width: 100%;
}
.nba {
  background-image: url(./assets/nba-bg.jpg);
  /* height: 1000px; */
  border-radius: 10px;
  padding: 1rem;
}
.card-container {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  border: 1px solid white;
}
.player-img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  transition: all .5s;
}
.player-img:hover{
  transform: scale(90%);
}
h5 {
  padding: 10px;
}
