@import "./scss/mixins";
@import "./scss/reset";
@import "./scss/variables";

body {
  background-color: $bg-color;
  font-family: $font-text;
}
.nba-bg {
  background-image: url(./assets/nba-bg.jpg);
  width: 100%;
  height: 1000px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
