@import "./scss/mixins";
@import "./scss/reset";
@import "./scss/variables";

body {
  background-color: $bg-color;
  font-family: $font-text;
}
.nba-bg {
  border-radius: 10px;
}
.nba-bg {
  width: 100%;
}
